<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiet</title>
</head>
<body>
    <img src = '../static/image/{{ service.image }}' alt = "" height = '300' width= '200'>
    <h2> {{ service.name }} </h2>
    <p> <b>Năm sinh:</b> {{ service.yob }} </p>
    <p> <b>Cao:</b> {{ service.height }}</p>
    <p> <b>Số điện thoại:</b> {{ service.phone }} </p>
    <p> <b>Địa chỉ:</b> {{ service.address }}</p>
    <p> <b>Mô tả:</b> 
        {% for mota in service.description %}
        {{ mota }}
        {% endfor %}
    </p>
    <p> <b>Số đo ba vòng:</b> 
        {% for sodo in service.measurement %}
        {{ sodo }} 
        {% endfor %}
    </p>
</body>
</html>
