<div class="bg-light">
    <h2 class="d-flex justify-content-center pt-5">Các gói dịch vụ</h2>
    <div class="py-5 d-flex justify-content-around">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <h4 class="card-header">Gói cơ bản</h4>
            <div class="card-body">
              <p class="card-text font-weight-bold">Dẫn bạn về ra mắt.</p>
              <p class="card-text font-weight-bold">Ăn cơm cùng gia đình.</p>
              <p class="card-text">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào.</p>
              <p class="card-text">Không phụ giúp gia đình các công việc nấu nướng dọn dẹp.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark">
                    <i class="far fa-heart"></i>
                    Tìm hiểu thêm</button>
              </div>
          </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <h4 class="card-header">Gói tiêu chuẩn</h4>
            <div class="card-body">
                <p class="card-text font-weight-bold">Dẫn bạn về ra mắt.</p>
                <p class="card-text font-weight-bold">Ăn cơm cùng gia đình.</p>
                <p class="card-text font-weight-bold">Cho phép nắm tay thể hiện quan tâm.</p>
                <p class="card-text">Không phụ giúp gia đình các công việc nấu nướng dọn dẹp.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark">
                    <i class="far fa-heart"></i>
                    Tìm hiểu thêm</button>
              </div>
          </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h4 class="card-header">Gói cao cấp</h4>
            <div class="card-body">
                <p class="card-text font-weight-bold">Dẫn bạn về ra mắt.</p>
                <p class="card-text font-weight-bold">Ăn cơm cùng gia đình.</p>
                <p class="card-text font-weight-bold">Cho phép nắm tay thể hiện quan tâm.</p>
                <p class="card-text font-weight-bold">Sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp.</p>
                <p class="card-text tcolor ">Và nhiều ưu đãi bất ngờ khác.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark">
                    <i class="far fa-heart"></i>
                    Tìm hiểu thêm</button>
              </div>
        </div>
    </div>  
</div>