<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nguoi dung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Dang ky tai khoan</h1>
    <form method="POST">
        <label for="">Ten day du:</label>
        <br>
        <input type="text" name="fullname" placeholder="Viet Pham">
        <br>

        <label for="">Email: </label>
        <br>
        <input type="text" name="email" placeholder="viet52434@gmail.com">
        <br>

        <label for="">Ten dang nhap: </label>
        <br>
        <input type="text" name="username" placeholder="Anzu">
        <br>

        <label for="">Pass: </label>
        <br>
        <input type="password" name="password" placeholder="123456">
        <br>
        <br>
        <input type="submit" value="Đăng ký">
    
    </form>    
</body>
</html>